/* Desktop */
@media only screen and (min-width: 1601px) {

}

/* Laptop */
@media only screen and (min-width: 1025px) and (max-width: 1600px) {

}

/* Tablette Paysage */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {

}

/* Tablette Portrait */
@media only screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
    body {
        font-size: 16px;
        margin: 0 auto;
        background-color: grey;
        box-sizing: border-box;
    }
    
    header {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 125px 1fr;
        grid-template-rows: 80px 10px 110px;
        background-color: hotpink;
        height: 200px;
    }
    
    main {
        margin: 0 10px;
    }
    
    .invisible {
        display: none;
    }
    
    /* Réseaux sociaux + logo + bouton dérouler */
    
    .language {
        position:absolute;
    }
    
    header .social-network {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-self: flex-end;
        justify-content: flex-start;
        align-content: center;
        width: 80px;
        background-color: khaki;
    }
    
    header .social-network a{
        width: 30px;
        height: 30px;
        margin: 5px 5px;
    }
    
    header .social-network img {
        width: 30px;
        height: 30px;
        border-radius: 20%;
    }
    
    #logo {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: center;
        height: 80px;
        background-color: indigo;
    }
    
    #open-menu {
        width: 10px;
        height: 10px;
        justify-self: center;
        grid-column-start: 2;
        grid-row-start: 2;
        
    }
    
    /* Menu déroulant */
    
    #menu {
        grid-column: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 110px;
        background-color: lawngreen;
        align-items: center;
    }
    
    #menu ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-items: center;
        align-items: center;
        padding: 5px 0;
    }
    
    .menu-anchor {
        font-size: 0.8rem;
    }
    
    #close-menu {
        width: 10px;
        height: 10px;
        -moz-appearance: button;
        -webkit-appearance: button;
    }
    
    /* Footer */
    
    footer .social-network {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    footer .social-network a{
        width: 30px;
        height: 30px;
        margin: 5px 5px;
    }
    
    footer .social-network img {
        width: 30px;
        height: 30px;
        border-radius: 20%;
    }
}

/* Smartphone Portrait */
@media only screen and (max-width: 480px) and (orientation: portrait) {
    body {
        font-size: 16px;
        margin: 0 auto;
        background-color: grey;
        box-sizing: border-box;
    }
    header {
        width: 100%;
        background-color: darkgray;
    }
    
    #fixed-header {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 125px 1fr;
        grid-template-rows: 80px 30px;
        height: auto;
        border: 1px solid black;
    }
    
    main {
        margin: 0 20px;
        height: auto;
    }
        
    /* Réseaux sociaux + logo + bouton dérouler */
    
    .language {
        top: 5px;
        left: 5px;
        width: 16px;
        position: absolute;
        font-size: 0.7rem;
    }
    
    header .social-network {
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        grid: 1 2 / 1 2;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-self: center;
        justify-self: flex-start;
        justify-content: space-around;
        align-content: center;
    }
    
    header .social-network a{
        width: 30px;
        height: 30px;
        margin-top: 30px;
        margin-left: 5px;
    }
    
    header .social-network img {
        width: 30px;
        height: 30px;
        border-radius: 20%;
    }

    #logo {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: center;
        margin-left: 50px;
    }

    #logo img {
        height: 80px;
    }
    
    #open-menu {
        width: 40px;
        height: 40px;
        align-self: center;
        justify-self: center;
        grid-column-start: 2;
        grid-row-start: 2;

        background: none;
        border: none;
    }

    #open-menu img {
        width: 90%;
    }
    
    /* Menu déroulant */

    .invisible {
        display: none !important;
    }
    
    #menu {
        grid-column: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 190px;
        background-color: white;
        align-items: center;
        border: 1px solid black;
    }
    
    #menu ul {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 5px 0;
    }
    
    
    .menu-anchor {
        font-size: 1.2rem;
        margin: 5px 0;
    }
    
    #close-menu {
        width: 10px;
        height: 10px;
        -moz-appearance: button;
        -webkit-appearance: button;
    }
    
    /* Most Recent Projects */

    #recent-projects {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-top: 1px black solid;
    }

    #recent-projects .most-recent-project{
        display: flex;
        flex-direction: column;
        justify-self: center;
        justify-content: center;
        margin-bottom: 20px;
        border-bottom: 1px solid black;
    }

    .img-project {
        width: 100%;
        height: 200px;
        background-size: cover;
    }

    #project-top {
        background-image: url("../img/projects/mypersonalportfolio1.png");
        background-position: 50%;
    }

    #project-middle {
        background-image: url("../img/projects/sharpsheperdgames.PNG");
        background-position: 50%;
    }

    #project-bottom {
        background-image: url("../img/projects/portfoliomarion.PNG");
        background-position: 50%;
    }

    .resume {
        width: 80%;
        justify-self: center;
        justify-content: center;
        text-align: center;
        align-self: center;
    }

    /* Section Did You Know */

    #did-you-know {
        border: 1px solid black;
        margin-bottom: 20px;
    }


    /* Footer */
    
    footer {
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        border: 1px solid black;
    }

    footer .social-network {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;   
    }
    
    footer .social-network a{
        width: 15px;
        height: 15px;
        margin: 5px 10px;
    }
    
    footer .social-network img {
        width: 15px;
        height: 15px;
        border-radius: 20%;
    }

    footer h4 {
        margin: 0 10px;
        font-size: 0.8rem;
        font-weight: lighter;
        font-style: italic;
        justify-self: flex-end;
        align-self: center;
    }
}
